{
  "semi": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "printWidth": 80,
  "tabWidth": 2,
  "plugins": ["prettier-plugin-tailwindcss"],
  "cssWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": ["*.css", "*.html", "*.js"],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
