.modalBox {
    position: fixed;
    z-index: 9999;
    padding: 50px 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;

    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(4px);

    display: flex;
    justify-content: center;
}

/* ///////////////////////////////////////////////// */

.btnBox {
    position: fixed;
    z-index: 99999;
    left: 89%;
    top: 5.5%;
    width: 50px;
    height: max-content;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.closeBtn {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    margin-bottom: 15px;

    font-size: 20px;
    font-weight: 100;
    color: #ffffff;
}
.btnStyle {
    margin: 5px;
}
.btnStyle > span {
    transition: all 0.3s;
}

/* ////////////////////////////////////////// */

.modalContent {
    width: 70%;
    height: max-content;
    padding-bottom: 50px;
    background-color: #ffffff;
    border-radius: 15px;
    overflow: hidden;

    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* /////////////////////////////////////////// */

.modalHeader {
    width: 100%;
    padding: 20px 0 10px;
    height: max-content;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.modalTitle {
    width: 100%;
    height: max-content;
    font-size: 30px;
    font-weight: 900;
    color: #fff;
}
.modalTime {
    width: 100%;
    height: max-content;
    color: #fff;
    margin-top: 10px;
}

/* ////////////////////////////// */

.modalBody {
    width: 65%;
    text-align: left;
}
.modalListTitle {
}
.modalListTitle > h1 {
    font-size: 26px;
    font-weight: 900;
    padding: 40px 0 20px;
}
.modalListTitle > h2 {
    padding-bottom: 10px;
    line-height: 2;
}
.modalList {
    list-style-type: disc;
    padding-left: 30px;
}
.modalList > li {
    padding-bottom: 10px;
}

/* ///////////////////////////////////////////////// */

.modalToggle {
    width: 100%;
    padding: 10px;
    height: max-content;

    background-color: #ebebeb;
    margin-bottom: 5px;

    transition: all 0.2s;
    cursor: pointer;
}
.modalToggle:hover {
    background-color: #cccccc;
}
.modalToggle > span {
    display: inline-block;
    position: relative;
    top: -2px;
    font-size: 10px;
    margin-right: 6px;

    transition: all 0.2s;
}
.modalToggleList {
    list-style-type: disc;
    padding: 5px 0 10px 30px;
    display: none;
}
.toggleRotate {
    transform: rotate(90deg);
}
.toggleShow {
    display: block;
}
.modalToggleList > li {
    padding: 8px 0;
    word-break: keep-all;
}

/* //////////////////////////////////// */

.modalImgList {
    padding: 10px;
    background-color: #ebebeb;
    text-align: center;
    border-radius: 10px;

    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    transition: all 0.2s;
}
.modalImgList:hover {
    background-color: #cccccc;
}
.modalImgList > li {
    width: calc((100% / 3) - 4px);
    height: max-content;
}
.modalImgList img {
    border-radius: 5px;
    width: 100%;
    height: 9vw;
    margin-bottom: 8px;

    object-fit: cover;
    cursor: pointer;
}
