/* ///////////////////////////////////////////////// */

.modalToggle {
    width: 100%;
    padding: 10px;
    height: max-content;

    background-color: #ebebeb;
    margin-bottom: 5px;

    transition: all 0.2s;
    cursor: pointer;
}
.modalToggle:hover {
    background-color: #cccccc;
}
.modalToggleList {
    list-style-type: disc;
    padding: 5px 0 10px 30px;
    display: none;
}
.toggleRotate {
    transform: rotate(90deg);
}
.toggleShow {
    display: block;
}
.modalToggleList > li {
    padding: 8px 0;
    word-break: keep-all;
}

/* //////////////////////////////////// */

.modalImgList {
    padding: 10px;
    background-color: #ebebeb;
    text-align: center;
    border-radius: 10px;

    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    transition: all 0.2s;
}
.modalImgList:hover {
    background-color: #cccccc;
}
.modalImgList > li {
    width: calc((100% / 3) - 4px);
    height: max-content;
}
.modalImgList img {
    border-radius: 5px;
    width: 100%;
    height: 9vw;
    margin-bottom: 8px;

    object-fit: cover;
    cursor: pointer;
}

/* ///////////////////////////////////////////////////// */

.imageModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    overflow: auto;

    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(4px);

    display: flex;
    justify-content: center;
    align-items: center;
}

.imageModalContent {
    position: relative;
    max-width: 80%;
    max-height: 80%;
}

.imageModalContent img {
    width: 100%;
    height: auto;
}

.imageModalClose {
    position: absolute;
    top: 20px;
    right: 20px;

    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);

    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}
