.swiper-pagination-bullet {
    width: 6px !important;
    height: 6px !important;
    background-color: #bbb;
    opacity: 0.6;
    transition: 0.3s ease;
}
.swiper-pagination-container {
    width: 100%;
    display: flex;
    justify-content: center; /* 가운데 정렬 */
}
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #3f3f3f; /* 기본 색상 */
    opacity: 0.6;
}
.swiper-pagination-bullet-active {
    background-color: #ffffff; /* 활성화된 bullet 색상 */
    opacity: 1;
}
