.header_dark {
    background: #0f172a;
}
.header_basic {
    background: #fff;
}
.text_dark {
    color: #fff;
}
.text_basic {
    color: #333333;
}
.active_sec {
    color: #186ebd;
}
.def_sec {
    color: #0f172a;
}

/* ///////////////////////////////// */
.headItem:hover {
    color: #186ebd;
    transition: color 0.2s;
    cursor: pointer;
}
.headItem > span {
    color: #186ebd;
    margin-right: 6px;
}
.iconCircle {
    border-radius: 50%;
    transition: background 0.3s;
}
.iconCircle:hover {
    background-color: #186ebd;
}

/* //////////////////////////// */

.iconDark,
.Email,
.iconBasic,
.githubIcon,
.velogIcon,
.ModeChange {
    transition:
        color 0.3s,
        fill 0.3s;
}
.userMenuBox > a:hover .iconDark,
.userMenuBox > a:hover .iconBasic {
    fill: #186ebd;
}

/* /////////////////////////// */
