.pointText {
    font-size: 16px;
    font-weight: 900;
    padding: 2px 8px;
    border-radius: 4px;
}
code {
    font-size: 14px;
    padding: 4px;
    border-radius: 4px;
    background-color: rgb(211, 211, 211);
}
.swiper {
    height: 330px !important;
}
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #bbb;
    opacity: 0.6;
    transition: 0.3s ease;
}

.swiper-pagination-bullet-active {
    background-color: #007bff; /* 활성화된 bullet 색상 */
    opacity: 1;
}

.swiper-pagination {
    position: absolute !important;
    bottom: 45px !important; /* 필요에 따라 위치를 위아래로 조정 */
}

.swiper-pagination-container {
    display: flex;
    justify-content: center; /* 가운데 정렬 */
    margin-top: 20px; /* 슬라이드와의 간격 설정 */
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #bbb !important; /* 기본 색상 */
    opacity: 0.6;
}

.swiper-pagination-bullet-active {
    background-color: #007bff !important;
    opacity: 1;
}

.logoLink,
.logoLink > span {
    transition: all 0.3s;
}
.logoLink:hover {
    transform: translateY(-5px);
}
.logoLink:hover > span {
    opacity: 1;
}

@keyframes textIn {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.text-in {
    animation: textIn 0.5s ease-out forwards;
}

.text-d1 {
    animation-delay: 0.1s;
}

.text-d2 {
    animation-delay: 0.2s;
}

.text-d3 {
    animation-delay: 0.4s;
}
.text-d4 {
    animation-delay: 0.6s;
}
