@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 4px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: rgb(51, 51, 51);
}

::-webkit-scrollbar-thumb {
    background-color: gray; /* 블루 */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(99, 99, 99);
}

@font-face {
    font-family: "Pretendard-Regular";
    src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
        format("woff");
    font-weight: 400;
    font-style: normal;
}

* {
    user-select: none;
    font-family: "Pretendard-Regular", sans-serif;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px); /* 아래에서 올라오는 애니메이션 */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* 원래 위치로 돌아옴 */
    }
}

.fade-in {
    animation: fadeIn 0.5s ease-out forwards;
}
.delay-1 {
    animation-delay: 2.4s;
}
.delay-2 {
    animation-delay: 2.6s;
}
.delay-3 {
    animation-delay: 2.8s;
}
.delay-4 {
    animation-delay: 3s;
}
.delay-5 {
    animation-delay: 3.2s;
}
.delay-6 {
    animation-delay: 3.4s;
}
.delay-7 {
    animation-delay: 3.6s;
}
.delay-8 {
    animation-delay: 3.8s;
}
.delay-9 {
    animation-delay: 4s;
}
.delay-10 {
    animation-delay: 4.2s;
}
.delay-11 {
    animation-delay: 4.4s;
}
.delay-12 {
    animation-delay: 4.6s;
}
.delay-13 {
    animation-delay: 4.8s;
}
