.swiper-pagination-bullet {
    width: 6px !important;
    height: 6px !important;
    background-color: #bbb;
    opacity: 0.6;
    transition: 0.3s ease;
}

.swiper-pagination-bullet-active {
    background-color: #007bff; /* 활성화된 bullet 색상 */
    opacity: 1;
}

.swiper-pagination {
    position: absolute !important;
    bottom: 45px !important; /* 필요에 따라 위치를 위아래로 조정 */
}

.swiper-pagination-container {
    display: flex;
    justify-content: center; /* 가운데 정렬 */
    margin-top: 20px; /* 슬라이드와의 간격 설정 */
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #bbb !important; /* 기본 색상 */
    opacity: 0.6;
}

.swiper-pagination-bullet-active {
    background-color: #007bff !important;
    opacity: 1;
}
